body {
	background-color: #2D2D2D;
	font-family: 'Open Sans';
}

#main-menu {
	text-align: center;
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
	font-family: 'Raleway';
}

#main-menu button {
	width: 40%;
	align-self: center;
	margin: 5px;
	border-radius: 5px;
	font-size: 1.25em;
	color: #222222;
	background-color: #F4F4F4;
}

#start-survey:hover {
	background-color: #31d434;
}

#take-survey:hover {
	background-color: #fa5b5d;
}

#start-survey:hover,
#take-survey:hover {
	color: #FFF;
}

#survey-body {
	background-color: #FFF;
	width: 80%;
	max-width: 720px;
	height: 100%;
	margin-top: 20px;
	padding: 0 20px 10px 20px;
	margin: 0 auto;
	border-radius: 7px;
}

#survey-body h1 {
	text-align: center;
	padding-top: 20px;
	letter-spacing: 2px;
	color: #212121;
	font-family: 'Raleway';
}

#survey-body h1 span {
	color: #0498FF;
}

#survey-body h2 {
	text-align: center;
	font-size: 1em;
	color: #212121;
}

a, a:hover {
	color: #0288D1;
}

#description {
	margin: 0 auto;
	background-color: #F4F4F4;
	color: #2F2F2F;
	padding: 10px;
	border-radius: 7px;
}

hr {
	width: 75%;
}

.question-instructions {
	font-size: 1em;
	margin-top: 20px;
}

.question-header {
	font-size: 0.75em;
	padding-left: 10px;
	margin-top: 20px;
	margin-bottom: 2px;
	color: #212121;
}

.question-body {
	background-color: #F4F4F4;
	margin: 0 auto;
	border-radius: 5px;
}

.question-body > p {
	padding: 10px;
}

button:focus {outline:0;}

.answer-choice-wrapper {
	text-align: center;
	width: 100%;
	background-color: #727272;
	height: 60px;
	display: flex;
	justify-content: center;
	border-radius: 0 0 5px 5px;
	box-shadow: inset 0 1px 2px #000;
}

.answer-choice-wrapper label,
.answer-choice-wrapper input {
	width: 17.5%;
	font-size: 0.6em;
	font-weight: 700;
	background-color: #727272;
	color: #FFF;
	align-self: center;
	margin: 5px;
	padding: 5px;
	border: none;
}

.answer-choice-wrapper label:hover {
	background-color: #0498FF;
	border-radius: 20px;
}

